.Quick-access-bar {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    z-index: 2;
}

.Quick-access-bar--ul {
    display: flex;
    height: 0px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(106, 172, 172);
    overflow: hidden;
    transition: height 0.3s;
    font: 1em "Fira Sans", sans-serif;
}

.Quick-access-bar__anchor-link {
    opacity: 100;
    outline: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: opacity 0.3s;
}

.Quick-access-bar--zipper-pull {
    margin: 0 auto;
    width: 90px;
    height: 25px;
    background-color: rgb(106, 172, 172);
    border-radius: 0 0 15px 15px;
}

/* В БЭМ так лучше не делать */
/* ------------------------- */

.Quick-access-bar--zipper-pull:hover~.Quick-access-bar--ul,
.Quick-access-bar--ul:hover {
    height: 50px;
}

.Quick-access-bar--zipper-pull:hover~.Quick-access-bar--ul .Quick-access-bar__anchor-link,
.Quick-access-bar--ul:hover .Quick-access-bar__anchor-link,
.Quick-access-bar__anchor-link:hover {
    opacity: 100;
}

/* ------------------------- */