.pointing-block-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: #88b7d5;
    border: 10px solid #c2e4f7;
    margin-top: 60px;
}

.pointing-block-wrapper::after {
    position: absolute;
    content: '';
    right: 50%;
    top: -100px;
    transform: translate(50%);
    border: 50px solid transparent;
    border-bottom: 50px solid #88b7d5;
}

.pointing-block-wrapper::before {
    position: absolute;
    content: '';
    right: 50%;
    top: -120px;
    transform: translate(50%);
    border: 60px solid transparent;
    border-bottom: 60px solid #c2e4f7;
}