*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-y: hidden;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}